<div class="inner">
	<h1> Edit your story </h1>
    <form action="/stories/<%= @story.id %>" method="post">
			<input id="hidden" type="hidden" name="_method" value="patch">
			<div class="field half">
				<label for="title"></label>
				<input name="title" id="title" type="text" value="<%= @story.title %>">
			</div>
        <br>
			<div class="field half">
				<label for="content"></label>
				<textarea rows= "5" cols="50" name="content" id="content" type="text"><%= @story.content %></textarea>
			</div>
			<ul class="actions">
				<li><input value="Update" class="button alt scrolly medium" type="submit"></li>
      	<li><a href="/stories" value="Cancel" class="button alt scrolly medium">Cancel</a></li>
			</ul>
	  </form>
    <form action="/stories/<%= @story.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= @story.id %>">
        <input type="submit" value="Delete" class="button alt scrolly medium">
    </form>
</div>