<div class="inner">
    <h1><%= @story.title %> by <%= @story.user.username %></h1>
        <p><%= @story.content %></p>
        <p>City: <%= @story.places.first.city%></p>
        <p>State: <%= @story.places.first.state%></p>
        <p>Country: <%= @story.places.first.country%></p>
        <p>Las visit: <%= @story.story_date.strftime('%b %Y') %></p>

        <% if @story.user == current_user %>
            <ul class="actions">
			    <li><a href="/stories/<%= @story.id%>/edit" class="button alt scrolly small">Edit this Story</a></li>
		    </ul>
        <%end%>
	</div>
</div>  