<div class="inner">
	<h1> Edit <%@place.city%> </h1>
    <form action="/places/<%= @place.id %>" method="post">
		<input id="hidden" type="hidden" name="_method" value="patch">
		<div class="field half">
			<label for="city"></label>
			<input name="city" id="city" type="text" value="<%= @place.city%>">
		</div>
		<div class="field half">
			<label for="state"></label>
			<input name="state" id="state" type="text" value="<%= @place.state%>">
		</div>
        <div class="field half">
			<label for="country"></label>
			<input name="country" id="country" type="text" value="<%= @place.country%>">
		</div>
        <div class="field half">
			<label for="visit_date"></label>
			<input name="visit_date" id="visit_date" type="text" value="<%= @place.visit_date.strftime("%b, %y") %>">
		</div>
		<ul class="actions">
			<li><input value="Update" class="button alt scrolly medium" type="submit"></li>
            <li><a href="/places" value="Cancel" class="button alt scrolly medium">Cancel</a></li>
		</ul>
	</form>
        <form action="/places/<%= @place.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= @place.id %>">
        <input type="submit" value="Delete" class="button alt scrolly medium">
    </form>
</div>