    
<div class="inner">
    <h1><%= @place.city %></h1>
        <p>State: <%= @place.state%></p>
        <p>Country: <%= @place.country%></p>
        <h3>Related Stories:</h3>
        <% @place.stories.each do |story| %>
            <p> 
                <a href="/places/<%= story.id %>" alt="Link to view <%= story.title %> details." title="Click to view <%= story.title %> details."><%= story.title%></a>
            </p>
        <% end %>
        <ul class="actions">
			<li><a href="/places" class="button alt scrolly big">Back</a></li>
		</ul>
	</div>
</div>        
